@import '_partials/bootstrap.css'
@import "../../node_modules/reset-css/reset.css"
@import "../../node_modules/swiper/dist/css/swiper.css"
@import '_partials/fonts.css'


  
*
	margin: 0
	padding: 0

body
	font-family: 'Raleway'

.flex
	display: flex
	align-items: center
	padding-bottom: 105px

.slider_wrapper
	padding-bottom: 60px
.white
	color: #fff
.red
	color: #ED1C24
	font-size: 51px !important
	font-weight: 900 !important
.center
	text-align: center
.border
	width: 126px
	margin: 15px auto 66px
	background: linear-gradient(to right, rgba(243,103,64,1) 0%,rgba(237,79,116,1) 100%)
	height: 5px
.block_logo
	background-color: #242A51
	height: 307px
	display: flex
	justify-content: space-around
	align-items: center
.youtube
	position: absolute
	top: 35px
	right: 55px
	width: 100%
	max-width: 599px
.youtube_gradient
	float: right

.header
	background-color: #292D53
	.top_header
		display: flex
		align-items: center
		justify-content: space-between
		padding: 30px 15px
		.logo
			display: flex
			align-items: center
			a
				display: flex
				align-items: center
				text-decoration: none
				img
					width: 35px
					height: 35px
					margin-right: 14px
				p
					text-transform: uppercase
					color: #fff
					font-size: 22px
					letter-spacing: 2.2px
					margin: 0
					padding: 0
					text-decoration: none
					font-weight: 900
		.navigation
			margin: 0
			li
				display: inline-block
				margin-left: 80px
				&:nth-child(1)
					margin-left: 0 !important
				
				a
					text-transform: uppercase
					font-size: 14px
					&:hover
						text-decoration: none
						color: #DF3838


.background
	background-image: url(../img/background.jpg)
	background-size: cover
	background-position: center center
	width: 100%
	height: auto
	position: relative
	padding: 0 15px
	.block
		margin: 74px auto 25px
		width: 100%
		height: 461px
		background-image: url(../img/border.png)
		background-repeat: no-repeat
		background-position: center center

		p
			text-align: center
			text-transform: uppercase
			font-size: 18px
			padding-top: 78px
			letter-spacing: 1.8px
			margin-bottom: 0
			opacity: 0.6
		.border_block
			position: absolute
			bottom: -50px
			background: linear-gradient(to right, rgba(243,103,64,1) 0%,rgba(237,79,116,1) 100%)
			height: 5px
			text-align: center
			width: 125px
			left: 50%
			transform: translateX(-50%)

	h1
		text-transform: uppercase
		text-align: center
		font-size: 85px
		line-height: 98px
		margin: 38px 0 0 0
		font-weight: 900
		position: relative
	.link_market
		text-align: center
		.btn
			color: #ffffff
			font-size: 16px
			padding: 7px 23px
			background: #FF256E
			display: flex
			align-items: center
			margin: 0 auto 50px
			border: none
			outline: none
			border-radius: 5px
			text-transform: uppercase
			&:hover
				opacity: 0.7
				transition: 0.5s all

			img
				margin-right: 10px
	.anchor
		text-align: center
		padding-bottom: 50px
		a
			text-decoration: none
			color: #ffffff
			font-size: 20px


.about
	background-color: #2e3260
	p
		font-size: 18px
		margin-top: 77px
		margin-bottom: 11px
		text-transform: uppercase
		letter-spacing: 1.8px
		opacity: 0.6
	h2
		font-size: 61px
		text-transform: uppercase
		font-weight: 900
	.border
		margin-bottom: 66px
	.block_logo
		img

	.description
		margin: 7px 25px 105px 44px
		span
			font-size: 18px
			line-height: 20px
			letter-spacing: 1.8px
			opacity: 0.8
			font-weight: 300
		p
			font-size: 51px
			text-transform: uppercase
			margin-top: 32px
			font-weight: 900
			opacity: 1
			line-height: 51.07px
	.description2
		padding-bottom: 125px
		span
			font-size: 18px
			letter-spacing: 1.8px
			opacity: 0.8
			line-height: 20.17px
		ul
			margin-top: 21px
			li
				line-height: 25.17px
				opacity: 0.8
				letter-spacing: 1.8px
				font-size: 18px

		p
			font-size: 41px
			text-transform: uppercase
			font-weight: 900
			margin-top: 16px
			opacity: 1

.read_more
	background-color: #242a51
	p
		font-size: 18px
		margin-top: 110px
		margin-bottom: 12px
		text-transform: uppercase
		opacity: 0.6
		letter-spacing: 2.2px

	h2
		font-size: 61px
		text-transform: uppercase
		font-weight: 900
	.border
		margin-bottom: 90px
	h3
		font-size: 41px
		font-weight: 900
		font-family: Raleway
		text-transform: uppercase
		line-height: 40.99px
		padding-bottom: 33px
	span
		font-size: 22px
		letter-spacing: 2.2px
		opacity: 0.8
		line-height: 20.17px

.contact
	background-color: #2E3260
	display: flex
	.contact_image
		background-size: cover
		background-position: center center
		background-image: url(../img/contact_image.jpg)
		width: 50%
		.contact_info
			margin: 0 auto
			width: 365px
			display: flex
			flex-direction: column
			align-items: center
			span
				padding-top: 107px
				font-size: 18px
				padding-bottom: 12px
				text-transform: uppercase
				letter-spacing: 1.8px
			h2
				font-size: 61px
				text-transform: uppercase
				font-weight: 900
				padding-bottom: 25px
			.border_white
				height: 5px !important
				width: 125px !important
				background-color: #ffffff !important
			p
				line-height: 1.3
				font-weight: bold
				letter-spacing: 1.8px
				padding: 40px 0 115px
	.contact_fiedl
		width: 50%
		.contact_block
			padding: 110px 80px
			margin: 0 auto
			label
				font-size: 11px
				letter-spacing: 1.1px
				text-transform: uppercase
				opacity: 0.7
				padding-left: 7px
			input
				width: 100%
				margin-top: 22px
				margin-bottom: 24px
				font-size: 18px
				letter-spacing: 1.8px
				opacity: 0.7
				padding: 12px
				background-color: transparent
				border:
				font-weight: bold
				outline: none
				&::placeholder
					color: #fff
			textarea
				width: 100%
				margin-top: 20px
				background-color: transparent
				outline: none
				padding: 15px 12px
				font-size: 18px
				letter-spacing: 1.8px
				opacity: 0.7
				font-weight: bold
				margin-bottom: 28px
				border-bottom: 2px solid #fff
				max-width: 100%
				&::placeholder
					color: #fff
			button
				color: #ffffff
				font-size: 16px
				padding: 18px 0
				background: #FF256E
				display: flex
				align-items: center
				justify-content: center
				margin: 0 auto
				border: none
				outline: none
				border-radius: 5px
				text-transform: uppercase
				width: 100%
				&:hover
					opacity: 0.7
					transition: 0.5s all

.footer
	background-color: #242a51
	.footer_info
		padding: 30px 15px
		p
			font-size: 14px
			letter-spacing: 1.4px
			color: #7780FC
			line-height: 1.5
			opacity: 0.5

		a
			cursor: pointer


@media screen and (max-width: 1200px)
	.read_more
		h3
			font-size: 29px
			text-align: center
	.description
		p
			font-size: 39px !important
	.youtube_image
		margin-top: 40px
		position: relative
		text-align: center
		.youtube_gradient
			float: none !important
		.youtube
			right: 110px
	.arrow_wrapper
		margin: 0 auto !important
		width: 30% !important


@media screen and (max-width: 992px)
	.contact
		flex-direction: column
		.contact_image, .contact_fiedl
			width: 100% !important
	.description2
		padding-bottom: 50px !important
	.block_logo
		margin-bottom: 40px
	.youtube_gradient
		display: none
	.youtube
		position: relative !important
		top: 0 !important
		right: 0 !important
	.slider-container
		margin-bottom: 60px !important
	.description
		margin: 0 0 50px !important
	.description2
		margin: 0 !important
	.border_white
		margin-bottom: 0 !important
	.swiper-wrapper
		padding-bottom: 0 !important


@media screen and (max-width: 768px)
	.top_header
		flex-direction: column
		.logo
			padding-bottom: 15px

	.contact_block
		padding: 100px 40px !important
		input
			margin: 15px 0 20px !important
	.background
		h1
			font-size: 60px
	.description2
		p
			font-size: 38px !important
	.arrow_wrapper
		display: none

@media screen and (max-width: 480px)
	.background
		h1
			font-size: 45px !important
			line-height: 65px
			.border_block
				bottom: -25px !important
		.block
			background-image: none !important
			margin: 0 !important
			height: 390px !important

	.navigation
		li
			margin-left: 12px !important
			a
				font-size: 11px !important

	.about
		h2
			font-size: 41px !important
		.description
			margin: 0 !important
			p
				font-size: 19px !important
				span
					font-size: 19px !important


		.description2
			p
				font-size: 19px !important

	.read_more
		h2
			font-size: 31px !important
			line-height: 1.3
		.text_description
			font-size: 19px
			line-height: 20px
			letter-spacing: 2.2px
			opacity: 0.8
	.link_market
		.btn
			font-size: 13px !important
	.contact
		h3
			font-size: 41px !important
	.contact_info
		width: auto !important
		padding: 0 15px !important
		p
			font-size: 11px !important
		h2
			font-size: 39px !important

	.footer_info
		p
			font-size: 13px !important


.slider-container
	position: relative
	overflow: hidden
	padding-bottom: 15px
	margin-bottom: 140px
.swiper-slide
	padding-bottom: 35px !important
.swiper-wrapper
	padding-bottom: 35px
.arrow_wrapper
	width: 20%
	position: relative
	margin: 0 auto
	margin-left: 10%
.swiper-button-next, .swiper-button-prev
	top: 93% !important
	width: 27px !important
	height: 24px !important
.swiper-pagination
	position: relative
	span
		width: 20px
		height: 20px
		margin: 0 7px
		border: 1px solid #fff
		background: transparent
.swiper-pagination-bullet-active
	background-color: #FF256E !important
	border: none !important




				




